<div id="top-content">
  <div class="container">
    <div class="row">
      <div class="span6">
        <img src="/image/ad-flower.png" />
      </div>
      <div id="flower-info" class="span6">
        <h3><%= @flower.title %></h3>
        <p><%= @flower.price %></p>
        <p><%= @flower.description %></p>
        <p>
          <a href="<%= new_order_url %>?flower_id=<%= @flower.id %>" class="btn btn-success">
            <i class="icon-leaf icon-white"></i> 立即购买
          </a>
        </p>
      </div>
    </div>
  </div>
</div>


<div style="display: none;">



  <%= link_to 'Back', flowers_path %>

  <%= link_to '立即购买', new_order_path(:flower_id => @flower.id) %>
</div>