<div id="top-content">
  <div class="container">
    <div class="row">
      <div class="span7 center-style">
        <img src="/image/ad-flower.png" width="300" />
        <div id="flower-description" class="span6">
          <p>
            <%= @flower.description %>
            非洲菊，菊科，（英文名：Gerbera、Barberton daisy 等），别名为太阳花、猩猩菊、日头花等，是多年生草本植物，顶生花序，花色分别有红色、白色、黄色、橙色、紫色等。繁殖用播种或分株法，原产地为南非。
          </p>

          <div id="more-flower-images">
            <img src="/image/ad-flower.png" width="300" />
            <img src="/image/ad-flower.png" width="300" />
          </div>
        </div>
      </div>

      <div id="flower-info" class="span5">
        <h3><%= @flower.title %></h3>

        <%= form_for(@order) do |f| %>
            <%= fields_for @account do |u| %>
                <p class="text-success lead">请提供您的收货信息 <span class="label label-important">免费寄送</span></p>

                <% unless flash[:notice].blank? %>
                    <p class="alert alert-error">
                      <%= flash[:notice] %>
                    </p>
                <% end %>

                <div class="input-prepend">
                  <span class="add-on fixed-add-on">收货地址</span>
                  <%= u.text_field :address, :class => "span4", :size => nil %>
                </div>
                <div class="input-prepend">
                  <span class="add-on fixed-add-on">收货人</span>
                  <%= u.text_field :name, :class => "span4", :size => nil %>
                </div>
                <div class="input-prepend">
                  <span class="add-on fixed-add-on">联系电话</span>
                  <%= u.text_field :phone, :class => "span4", :size => nil %>
                </div>
            <% end %>

            <p id="step-submit">
              <%= hidden_field_tag "flower_id", @order.flower.id %>
              <%= f.submit :value => "立即订购 (货到付款)", :class => "btn btn-success" %>
            </p>
        <% end %>

        <p class="text-success lead step">备注说明</p>
        <p><strong>关于支付方式：</strong>目前我们暂时只支持<strong>货到付款</strong>，由此给您带来的不便敬请谅解。</p>
        <p><strong>关于免费寄送：</strong>目前我们暂时只支持<strong>每周双休日送货</strong>，送货前我们将会与您取得电话联系，由此给您带来的不便敬请谅解。</p>

      </div>
    </div>

    <div>

    </div>
  </div>
</div>