<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      您预定的是：<%= @order.flower.title %> <br />
      价格：<%= @order.flower.price %> <br />
      <%= @order.flower.image %>
      <%= hidden_field_tag "flower_id", @order.flower.id %>
    </div>

    请提供您的收货信息：<br />
    <%= fields_for @account do |u| %>
        <div class="field">
          <%= u.label "收货地址" %><br />
          <%= u.text_field :address %>
        </div>
        <div class="field">
          <%= u.label "联系人" %><br />
          <%= u.text_field :name %>
        </div>
        <div class="field">
          <%= u.label "联系电话" %><br />
          <%= u.text_field :phone %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
