<h1>Listing orders</h1>

<table>
  <tr>
    <th>Flower</th>
    <th>Account</th>
    <th>Active</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.flower %></td>
    <td><%= order.account %></td>
    <td><%= order.active %></td>
    <td><%= order.status %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
