<div id="top-content">
  <div class="container">

    <div class="alert alert-success row pay-success">
      <div class="span2 center-style">
        <img class="pay-success-img" src="/img/success.png" alt="success">
      </div>

      <div class="span9">
        <h3>订购成功啦！</h3>

        <p>我们将立即为您准备鲜花。</p>

        <div class="pay-details">
          <p class="text-info text-header">订单详情</p>

          <p><span class="text-title">鲜花：</span><span class="text-detail"><%= @order.flower.title %></span></p>

          <p>
            <span class="text-title">金额：</span>
            <span><%= @order.flower.price %>元</span>
            <span class="pay-shipping">(免费寄送)</span>
          </p>

          <p><span class="text-title">收货地址：</span><span><%= @order.account.address %></span></p>

          <p><span class="text-title">收货人：</span><span><%= @order.account.name %></span></p>

          <p><span class="text-title">联系电话：</span><span><%= @order.account.phone %></span></p>
        </div>

        <div class="pay-more">
          <p>
            您可能还想：
            <span><%= link_to '浏览其他鲜花', flowers_url %></span>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

