<p id="notice"><%= notice %></p>

<p>预定成功，我们将立即为您准备鲜花。</p>

<p>
  <b>Flower:</b>
  <%= @order.flower.title %>
</p>

<p>
  <b>收货地址:</b>
  <%= @order.account.address %>
</p>

<p>
  <b>收货人:</b>
  <%= @order.account.name %>
</p>

<p>
  <b>联系电话:</b>
  <%= @order.account.phone %>
</p>

<%= link_to '浏览其他鲜花', flowers_url %>
